div.content {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #2ab27b;
    font-size: 30px;
}

p.heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #3869D4;
    font-size: 50px;
}

div.languages {
    text-align: center;
}

form {
    text-align: center;
}

div.languages select {
    border: 2px solid #000000;
    outline: none;
}

div.languages select option {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

div.content .sub-content {
    margin-bottom: 3%;
}

div.content .sub-content .result {
    color: #204d74;
    font-weight: 600;
    outline: none;
}

div.content .sub-content img {
    margin: 0 auto;
}
